@model IEnumerable<MakerBook.ViewModels.CustomerViewModel>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Registered Customers";
}

<div class="about-heading-content">
    <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Customer</span>
                    <span class="section-heading-lower">Registered Customers</span>
                </h2>
                <hr />

                <p>
                    <a asp-action="Create">Create New</a>
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PhoneNumber)
                            </th>


                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>


                                <td>

                                    <a asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.CustomerId">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
