@model MakerBook.ViewModels.ProfessionalViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Details";
}

<div class="about-heading-content">
    <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Register Professional</span>
                    <span class="section-heading-lower">Detail</span>
                </h2>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.WebPage)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.WebPage)
                    </dd>

                </dl>
            </div>
            <hr />
            <div>
                <a class="btn btn-primary btn-block" asp-action="Edit" asp-route-id="@Model?.ProfessionalId">Edit</a> |
                <a class="btn btn-secondary btn-block" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>

