@using MakerBook.Enum
@using MakerBook.ViewModels
@model ServiceViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="about-heading-content">
    <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Service</span>
                    <span class="section-heading-lower">Services offered</span>
                </h2>

                <hr />
                <div class="row">

                    <form asp-action="Create" enctype="multipart/form-data" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                          <input type="hidden" asp-for="Latitude" />
                            <input type="hidden" asp-for="Longitude" />
                        <div class="form-group">
                            <label asp-for="ServiceType" class="control-label"></label>
                            <select asp-for="ServiceType" class="form-control">
                                <option value="@ServiceTypeEnum.OnlineOrLocal">Online/Local</option>
                                <option value="@ServiceTypeEnum.Online">Online</option>
                                <option value="@ServiceTypeEnum.Local">Local</option>
                            </select>
                            <span asp-validation-for="ServiceType" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea class="form-control z-depth-1" asp-for="Description" rows="3" placeholder="Write something here..."></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" type="text" class="form-control" data-type="currency" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ProfessionalId" class="control-label"></label>
                            @Html.DropDownListFor(model=>model.ProfessionalId, Model.ProfessionalList, "--Select", new{@class="form-control"})

                            <input type="hidden" asp-for="ProfessionalId" />
                            <span asp-validation-for="ProfessionalId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CategoryId" class="control-label"></label>
                            @Html.DropDownListFor(model=>model.CategoryId, Model.CategoryList, "--Select", new{@class="form-control"})
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Search location</label>
                            <input type="text" id="textplace" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="LineAddress" class="control-label"></label>
                            <input asp-for="LineAddress" class="form-control" id="address" />
                            <span asp-validation-for="LineAddress" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ComplementAddress" class="control-label"></label>
                            <input asp-for="ComplementAddress" class="form-control" id="complementaddress" />
                            <span asp-validation-for="ComplementAddress" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="City" class="control-label"></label>
                            <input asp-for="City" class="form-control" id="locality" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="State" class="control-label"></label>
                            <input asp-for="State" class="form-control" id="state" />
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Country" class="control-label"></label>
                            <input asp-for="Country" class="form-control" id="country" />
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ZipCode" class="control-label"></label>
                            <input asp-for="ZipCode" class="form-control" id="postalcode" />
                            <span asp-validation-for="ZipCode" class="text-danger"></span>
                        </div>
                        <div class="form-group">

                            <div id="macDiv" style="height: 200px;" class="form-control d-inline-block w-100"></div>
                        </div>


                        <label asp-for="ImageServiceList" class="form-label">Multiple files</label>
                        <input asp-for="ImageServiceList" class="custom-file-input" type="file" multiple />

                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary btn-block" /> |
                            <a class="btn btn-secondary btn-block" asp-action="Index">Back to List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-gQhKTgF350KG7HuhIIAJ1Js99-3ic2M&libraries=places"></script>

<script>

            google.maps.event.addDomListener(window, 'load', function(){

                var places = new google.maps.places.Autocomplete(document.getElementById('textplace'),  {
                componentRestrictions: { country: ["us", "ca"] },
                fields: ["address_components", "geometry"],
                types: ["address"],  });

                google.maps.event.addListener(places, 'place_changed', function(){
    //it will loads places to textbox
                var place = places.getPlace();


                if(place.geometry && place.geometry.location)
                {
                    console.log(place.geometry.location.lat());
                    document.querySelector("#Latitude").value = place.geometry.location.lat();
                    document.querySelector("#Longitude").value = place.geometry.location.lng();

                     console.log(place.address_components);
                     document.querySelector("#complementaddress").value = '';

                   for (const component of place.address_components)
                   {

                        switch (component.types[0])
                        {
                          case "street_number":
                          {
                          document.querySelector("#complementaddress").value += component.long_name;
                            break;
                          }

                          case "route":
                          {
                            document.querySelector("#address").value = component.long_name;
                            break;
                          }
                           case "neighborhood":
                          {
                            document.querySelector("#complementaddress").value += component.long_name;
                            break;
                          }
                          case "postal_code":
                          {
                            document.querySelector("#postalcode").value = component.long_name;
                            break;
                          }

                          case "postal_code_suffix":
                          {
                            document.querySelector("#postalcode").value += component.long_name;
                            break;
                          }

                          case "locality":
                        {
                            document.querySelector("#locality").value = component.long_name;
                            break;
                          }
                          case "administrative_area_level_1":
                          {
                           document.querySelector("#state").value = component.short_name;
                            break;
                          }

                         case "country":
                          {
                            document.querySelector("#country").value = component.short_name;
                            break;
                          }
                        }
                   }
                   ShowGoogleMaps(place.geometry.location);
                }
             })

            });

</script>
<script type="text/javascript">

    function ShowGoogleMaps(location) {
        
        //Define a latitude e Longitude do Mapa
        var myAddress = new google.maps.LatLng(location);

        //Cria opções ou um conjunto de recursos no Google Map
        var mapOptions = {
            center: myAddress,
            zoom: 15,
            minZoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        //Exibe o Google map em uma div com as opções definidas
        var map = new google.maps.Map(document.getElementById("macDiv"), mapOptions);

        //Define o marcador no mapa
        var marcador = new google.maps.Marker({
            position: myAddress,
            animation: google.maps.Animation.BOUNCE,
        });

        marcador.setMap(map);
       }
</script>
<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });

</script>
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}