@using MakerBook.ViewModels
@model ServiceViewModel

@{
    ViewData["Title"] = "Details Category";
}

<div class="about-heading-content">
    <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Details</span>
                    <span class="section-heading-lower">Service</span>
                </h2>
                <p>
                    <div>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Description)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Description)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Price)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Price)
                            </dd>

                        </dl>


                    </div>

                    <div id="carouselService" class="carousel slide w-25" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselService" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselService" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselService" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            @{
                                int i = 0;
                            }
                            @foreach (var item in Model.ServiceImageList)
                            {
                                i++;
                                var active = i == 1 ? "active" : "";
                                <div class="carousel-item @active">
                                    <img src="data:image;base64,@System.Convert.ToBase64String(item.Image)"
                                     class="d-block w-100"
                                     alt="@item.Name" />

                                </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselService" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselService" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                    <hr />
                    <div>
                        <a class="btn btn-primary btn-block" asp-action="Edit" asp-route-id="@Model?.ServiceId">Edit</a> |
                        <a class="btn btn-secondary btn-block" asp-action="Index">Back to List</a>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>